<%- include('partials/header') %>
    <link rel="stylesheet" type="text/css" href="../css/about.css">
</head>
<body>
    <section id="about">
        <section id="pageHeader" class="text-center">
            <%- include('partials/navbar') %>
            <p class="headingS1">
                About
            </p>
        </section>
        <div class="row align-items-center">
            <div class="col-lg-3">
                <img src="../assets/aston-header-image 1.png" class="card-img-top" alt="...">
            </div>
            <div class="col-lg-9">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi obcaecati expedita blanditiis excepturi atque accusamus quidem soluta minus quos in a neque voluptas quae omnis aut dolores, animi et! Quae beatae aliquid atque ad. Odio eius nihil eligendi omnis quidem voluptatem accusantium minima odit tempore minus maxime nam velit quam ratione maiores, amet dignissimos quae esse consectetur unde? Illo necessitatibus, debitis consectetur voluptatibus sequi unde. Illo, culpa! A nam officia esse asperiores doloremque labore nemo corrupti voluptates. Fugiat aut architecto ipsam sapiente, at asperiores animi aliquam aspernatur consequuntur quam eos inventore amet magni maxime non. Et quidem earum tempora at!                
            </div>
        </div>
        <div class="row  align-items-center">
            <div class="col-lg-9">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi obcaecati expedita blanditiis excepturi atque accusamus quidem soluta minus quos in a neque voluptas quae omnis aut dolores, animi et! Quae beatae aliquid atque ad. Odio eius nihil eligendi omnis quidem voluptatem accusantium minima odit tempore minus maxime nam velit quam ratione maiores, amet dignissimos quae esse consectetur unde? Illo necessitatibus, debitis consectetur voluptatibus sequi unde. Illo, culpa! A nam officia esse asperiores doloremque labore nemo corrupti voluptates. Fugiat aut architecto ipsam sapiente, at asperiores animi aliquam aspernatur consequuntur quam eos inventore amet magni maxime non. Et quidem earum tempora at!                
            </div>
            <div class="col-lg-3">
                <img src="../assets/aston.jpg" class="card-img-top" alt="...">
            </div>
        </div>
    </section>
    <script src="../js/eventDashboard.js"></script>
<%- include('partials/footer') %>
